/*--------- TOOLS : Colors ---------*/

$black : rgba(14, 14, 14, 1);
$white : rgba(247, 247, 247, 1);
$lightsilver : rgba(222, 222, 222, 1);
$silver : rgba(182, 182, 182, 1);
$darksilver : rgba(142, 142, 142, 1);

$pureBlack : rgba(0,0,0,1);
$pureWhite : rgba(255,255,255,1);

$lightShadowBlack : rgba(0,0,0, 0.3);
$shadowBlack : rgba(0,0,0, 0.5);
$heavyShadowBlack : rgba(0,0,0, 0.8);

$logoColor : $silver;